.Harry {
    color: white;
    text-align: center;
}
.rules {
    color: white;
    padding-top: 0px;
    text-align: center;
    padding-left: 50px;
}
.timer {
   float: left;
}
body {
    background-image:url("../images/castle.jpeg");
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-position: center; 
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% auto;
}
#questions {
    padding-top: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 10px;
}
.answer1 {
    padding-right: 10px;
}
#scoreboard {
    color: white;
    font-weight: bold;
   
}

