.Harry {
    color: white;
    text-align: left;
}
.rules {
    color: white;
    padding-top: 0px;

}
body {
    background-image:url("../images/castle.jpeg");
    height: 100%;
    width: 100%;
    background-position: center; 
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% auto;
}